---
import CardContent from "./ui/card/card-content.astro";
import CardHeader from "./ui/card/card-header.astro";
import CardTitle from "./ui/card/card-title.astro";
import Card from "./ui/card/card.astro";
---
<Card className="mb-6">
  <CardHeader>
    <CardTitle>Sobre mi</CardTitle>
  </CardHeader>
  <CardContent>
    <p class="text-muted-foreground">
      Seccion arriba de proyectos. Oculto actualmente.
    </p>
  </CardContent>
</Card>