---
import { Image } from "astro:assets";
import Button from "./ui/button.astro";
import CardContent from "./ui/card/card-content.astro";
import Card from "./ui/card/card.astro";
import GithubIcon from '../icons/github.astro'
import LinkedinIcon from '../icons/linkedin.astro'

const socials = [
  {
    name: "LinkedIn",
    link: "https://linkedin.com/in/bernaberb",
    icon: LinkedinIcon
  },
  {
    name: "Github",
    link: "https://github.com/bernorb",
    icon: GithubIcon
  },
];
---
<Card>
  <CardContent className="pt-6">
    <div class="flex flex-col items-start gap-2">
      <div
        class="flex flex-row md:flex-col items-center md:items-start w-full gap-4"
      >
        <Image
          width={150}
          height={150}
          quality={100}
          src="/profile.webp"
          alt="Foto de perfil"
          class="rounded-full size-12 md:w-full h-auto object-cover border-2"
        />
        <div class="flex flex-col items-start justify-center">
          <h1 class="font-bold md:mt-4 text-xl md:text-2xl">Bernabe Rodriguez B.</h1>
          <p class="text-sm md:text-base text-muted-foreground">
            Backend Software Developer
          </p>
        </div>
      </div>
      <p class="mt-2 text-start text-sm text-muted-foreground text-justify">
        Desarrollador backend con casi 4 años de experiencia principalmente en rubro fintech/banca.
      </p>
      <p class="text-start text-sm text-muted-foreground text-justify">
        Para ver mi informacion completa te invito a mi LinkedIn o a descargar mi curriculum.
      </p>
      <Button className="mt-2 w-full">
        <a target="_blank" href="/RodriguezBernabe_CV_Spanish.pdf" class="font-semibold">
          Descargar CV .pdf
        </a>
      </Button>
      <Button className="mt-0 w-full">
        <a href="mailto:bernabrb@gmail.com" class="font-semibold">
          Enviame un mail
        </a>
      </Button>
      <div
        class="mt-4 flex flex-col space-y-2 border-t border-border pt-4 w-full"
      >
        {
          socials.map((s, i) => {
            const parts = s.link.split("/");
            const username = parts[parts.length - 1];
            return (
              <a
                href={s.link}
                target="_blank"
                aria-label={`${s.name} Logo`}
                class="cursor-pointer flex items-center gap-2 group"
              >
                {s.icon && <s.icon class='size-4' />}
                <span class='transition-color text-sm text-muted-foreground duration-200 ease-linear group-hover:text-primary dark:group-hover:text-blue-500'>
                  {username}
                </span>
              </a>
            );
          })
        }
      </div>
    </div>
  </CardContent>
</Card>